<!DOCTYPE html>
<html ng-app="portfolio">
<head>
  <meta charset="UTF-8">
  <title>web</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/public/vendor/font-awesome/css/font-awesome.css"/>
  <link href="/public/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/public/css/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/public/css/theme.css" rel="stylesheet" />
  <link href='//fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Poppins:100,300,400,600,700" rel="stylesheet" type="text/css">
  <link href="/public/css/font-poppins.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/public/css/styles.css"/>
</head>
<body  ng-controller="EmailController">

  <div class="nav-container">
      <a id="top"></a>
<nav class="absolute transparent">
  <div class="nav-bar">
    <div class="module left">
      <a href="index.html">
        <img class="logo logo-light" alt="Website logo" src="public/images/Web-logo.png" />
      </a>
    </div>
    <div class="module widget-handle offscreen-toggle right">
      <i class="ti-menu"></i>
    </div>
  </div>
  <div class="offscreen-container bg-dark text-center">
    <div class="close-nav">
      <a href="#">
        <i class="ti-close"></i>
      </a>
    </div>

    <div class="v-align-transform text-center">
      <a href="#"><img alt="Logo" class="image-xs mb40 mb-xs-24" src="public/images/Web-logo.png" /></a>
      <ul class="mb40 mb-xs-24">
        <li class="fade-on-hover"><a href="#top" class="inner-link"><h5 class="uppercase mb8">Home</h5></a></li>
        <li class="fade-on-hover"><a href="#clients" class="inner-link"><h5 class="uppercase mb8">Hire Me</h5></a></li>
        <li class="fade-on-hover"><a href="#projects" class="inner-link"><h5 class="uppercase mb8">Portfolio</h5></a></li>
        <li class="fade-on-hover"><a href="/resume" class="inner-link"><h5 class="uppercase mb8">Resume</h5></a></li>
        <li class="fade-on-hover"><a href="#contact" class="inner-link"><h5 class="uppercase mb8">Contact</h5></a></li>
      </ul>

      <ul class="list-inline social-list">
        <li>
          <a href="http://twitter.com/ben_halverson">
            <i class="ti-twitter-alt"></i>
          </a>
        </li>
        <li>
          <a href="http://github.com/benhalverson">
            <i class="ti-github"></i>
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/in/benhalvereson">
            <i class="ti-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div><!--end of offscreen container-->
</nav>
  </div>




  <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
              <ul class="slides">
                  <li class="overlay image-bg">
                      <div class="background-image-holder">
                          <img alt="image" class="background-image" src="public/images/cover1.jpg" />
                      </div>
                      <div class="align-bottom">
                          <div class="row">
                              <div class="col-md-4 col-sm-6">
                                  <h4 class="uppercase bold mb0">Ben Halverson</h4>
                                  <h4 class="uppercase">Web Developer</h4>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  </p>
                                  <hr>
                                  <ul class="list-inline social-list mb8">
                                      <li>
                                          <a href="http://twitter.com/ben_halverson" title="twiter">
                                              <i class="ti-twitter-alt"></i>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="http://github.com/benhalverson" title="Github ">
                                              <i class="ti-github"></i>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="https://angel.co/benh" title="Angelist profile">
                                              <i class="fa fa-angellist"></i>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="https://vimeo.com/benhalverson" title="Vimeo">
                                              <i class="ti-vimeo-alt"></i>
                                          </a>
                                      </li>
                                      <li>
                                        <a href="https://www.youtube.com/user/THeBayAreaFilms/" title="Youtube Channel">
                                          <i class="ti-youtube"></i>
                                      </li>
                                      <li>
                                        <a href="http://livecoding.tv/benhalverson" title="Livecoding.tv">
                                          <i class="fa fa-television"></i></a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <!--end of row-->
                      </div>
                      <!--end of container-->
                  </li>
              </ul>
          </section>

    </div>
  </nav>
</div>
<!--masonary -->
<div class="main-container">
    <section class="projects p0 bg-dark">
        <ul class="filters floating cast-shadow mb0">
        </ul>
        <div class="row masonry-loader fixed-center">
            <div class="col-sm-12 text-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="row masonry masonryFlyIn">
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Webapps">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="public/images/footprintid.png" />
                        <div class="title">
                            <h5 class="uppercase mb0">Footprintid.com</h5>
                            <span>Web App</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Websites">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="public/images/wbtProductions.png" />
                        <div class="title">
                            <h5 class="uppercase mb0">wbt.productions</h5>
                            <span>Website</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Websites">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="public/images/dealacceleration.png" />
                        <div class="title">
                            <h5 class="uppercase mb0">dealacceleration.com</h5>
                            <span>Website</span>
                        </div>
                    </a>
                </div>
            </div>
<div class="col-md-4 col-sm-6 masonry-item project" data-filter="Webapps">
    <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
            <img alt="Pic" src="public/images/customCMS.png" />
            <div class="title">
                <h5 class="uppercase mb0">Coding House Bootcamp</h5>
                <span>Web App</span>
            </div>
        </a>
    </div>
</div>
         <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Websites">
    <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
            <img alt="Pic" src="public/images/project-single-4.jpg" />
            <div class="title">
                <h5 class="uppercase mb0">Summer Lovin'</h5>
                <span>Objects / Food</span>
            </div>
        </a>
    </div>
</div>
          <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Webapps">
    <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
            <img alt="Pic" src="public/images/project-single-6.jpg" />
            <div class="title">
                <h5 class="uppercase mb0">Thick Fog</h5>
                <span>People / Life</span>
            </div>
        </a>
    </div>
</div>
        </div>
        <!--end of row-->
    </section>



        </div>
        <!--/end masonary-->
<!-- TODO: setup ui router
        <div ui-view></div>-->



        <div class="container contact">
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <h4 class="uppercase">Get In Touch</h4>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    </p>
                    <hr>

                      <a href="http://twitter.com/ben_halverson"><i class="fa fa-3x fa-twitter-square"></i></a>
                      <a href="http://github.com/benhalverson"><i class="fa fa-3x fa-github-square"></i></a>
                      <a href="http://linkedin.com/in/benhalverson"><i class="fa fa-3x fa-linkedin-square"></i></a>


                    <hr>
                    <p>
                        <strong>E:</strong> <a href="mailto:benhalverson@me.com?subject=A message from your website">benhalverson@me.com</a>
                        <br />
                        <strong>P:</strong> <a href="tel:(408)772-3986">(408)772-3986</a>
                        <br />
                    </p>
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1">
                    <form class="form-email">
                        <input type="text" ng-model="form.name" class="validate-required" name="name" placeholder="Your Name" />
                        <input type="text" ng-model="form.email" class="validate-required validate-email" name="email" placeholder="Email Address" />
                        <input type="text" ng-model="form.subject" class="validate-required validate" name="subject" placeholder="Subject" />
                        <textarea ng-model="form.message"class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                        <button type="submit" ng-class='{"disabled": successful}' ng-click="sendEmail(form)">
                          <div ng-if='!successful'>Send Message</div>
                          <div ng-if='successful'>Message was sent!</div>
                        </button>

                    </form>
                </div>
            </div>
            <!--end of row-->
        </div>

<script src="public/vendor/angular/angular.js"></script>
<script src="public/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="public/vendor/jquery/dist/jquery.js"></script>
<script src="public/vendor/masonry/dist/masonry.pkgd.js"></script>
<script src="public/bundle.js"></script>
</html>
